h2 {
    font-family:arial;
}

form {
    display: inline-block;
    /*border-radius: */
    /*padding:50px;*/
    position: absolute;
  margin-top: 300px;

}
input {
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  /*position: absolute;
  margin-top: 300px;*/
}

#button{
  display: inline-block;
  height:30px;
  width:70px;
  background-color:#ac0000;
  font-family:arial;
  font-weight:lighter;
  color:#ffffff;
  cursor: pointer;
  text-align:center;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  
  margin-left:-5px;
}

.list {
  font-family:garamond;
  color:#cc0000;
  list-style-type: none;
}
.item {
   display: inline-block;
    height:40px;
  width:170px;
  background-color:#cb0000;
  font-family:arial;
  font-weight:lighter;
  color:#ffffff;
  border-radius: 5px;
  text-align:center;
  padding-top: 20px;
  margin-top:2px;
  text-transform: uppercase;
  margin-left: 50%;

}
.item :hover {
  color
}
color:black;
}